body{
  margin: 0;
  padding: 0;
}

.container {
  white-space: nowrap;
  margin: 0;
  padding: 0;
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

h1 {
  width: 100%;
}

span {
  /* width: 50%;
  height: 100%; */
}

#leftScore::after {
  content: "";
  border-right: 4px solid #ddd;
  padding-left: 0.5rem;
}
.winner {
  color: green;
}

.loser {
  color: red;
}